{
    "presets": [["next/babel"]],
    "plugins": [
      [
        "module-resolver",
        {
          "root": ["./"],
          "alias": {
            "@components": "./components",
            "@themes": "./themes",
            "@interfaces": "./interfaces"
          }
        }
      ]
    ]
  }